body {
  user-select: none;
}

/* /BreaKpoints */
@media screen and (max-width: 481px) {
  .Home-image {
    display: none;
  }
}

.text::first-letter {
  text-transform: uppercase;
}

::-webkit-scrollbar {
  display: none;
}

/* home */
.ImageRadius {
  border-radius: 50%;
}

.Home-value {
  height: 500px;
  width: 100%;
  background-color: aqua;
}
